#wrapper{
	height:100%;
	margin:0;
	padding:0;
}

#userMap{
	position:absolute;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
}

.navbar{
	margin:0;
	border:none;
	z-index:2;
	border-radius:0px;
}

.slider{

}

.tag{
	display:inline;
    border: 1px groove rgba(0,0,0,0.4);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(104, 162, 195, 0.37);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper{
	padding:8px;
}

.btn-purple{
	background-color: rgb(141,87,228);
	color: #EEE;
}