#map-plot {
	margin-top: 15px;
	width:100%;
	height:200px;
}

.img-plot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

.btn-show {
	margin-top:-10px;
	position: relative;
	overflow: hidden;
}

